*{
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif sans-serif;
}

h3 {
    font-weight: bold;
    color: white;
}

.forecast {
    font-size: 0.8em;
}

span {
    font-size: 1em;
}

li:hover {
    background-color: rgb(83, 84, 85);
    text-decoration: underline;
}